.videos{
    background-color: #f6f6f6;
    min-height: 85vh;
}

.videos__title{
    margin-bottom: 20px;
}

.videos__info{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.videos__paragraph{
    margin-bottom: 20px;
}

.button{
    padding: 8px;
    background-color: #0bafc8;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.videos__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.video__card{
    width: 100%;
    max-width: 345px;
    background-color: white;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.video__image{
    width: 100%;
    margin-bottom: 5px;
}

.video__title{
    color: black;
    font-weight: bold;
}

@media (min-width:768px){

    .nav__item{
        margin-right: 15px;
    }
    .videos__info{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .videos__info a{
        padding: 8px 16px;
        position: relative;
        bottom: 40px;
    }

    .videos__list{
        justify-content: left;
    }

    .video__card{
        margin: 0 10px 30px;
    }
}